.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#name {
	float: left;
	margin: 20px 0 0px 80px;
}

#contactDetails {
	float: right;
}

.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
}

#name h1 {
	color: #181818;
	font-style: normal;
	font-weight: 900;
	font-size: 35px;
	margin: 0%;
}

#name h2 {
	font-size: 25px;
	margin: 0;
}

#top {
	font-family: Rokkitt, Helvetica, sans-serif;
	background-color: #f3f3f3;
	padding: 20px;
}

#cv {
	margin: 25px 110px 25px 110px;
}

p {
	color: #444444;
	margin-right: 35px;
}

h2 {
	color: #181818;
	font-weight: 300;
	font-size: 20px;
	margin: 20px 0 0 0;
}

h1 {
	font-family: Rokkitt, Helvetica, sans-serif;
	color: #cf8a05;
	font-style: italic;
	font-size: 20px;
	font-weight: 300;
	margin-left: 25px;
}

section {
	border-top: 2px solid #dedede;
}

.mainDetails {
	border-top: 2px solid #cf8a05;
	
}

img {
	border-radius: 50%;
	margin: 0 50px 20px;
}

#contactDetails ul li {
	list-style: none;
	color: #181818;
}

#contactDetails ul li a {
	text-decoration: none;
	color: #181818;
	margin-right: 60px;
}

.subDetails {
	font-size: 14px;
	font-style: italic;
	margin: 0;
}

.keySkills {
	list-style: none;
	color: #444444;
	column-count: 3;
	margin-left: -40px;
}